<script>
    export default {
        name: "PdfCanvas",
        props: {
            fileUrl: { required: true },
            pageNumber: { required: true },
            canvasId: { required: true },
            show: { required: true },
        },
        methods: {
            init(w, h) {
                document.getElementById(this.canvasId).style.width = w + 'px';
                document.getElementById(this.canvasId).style.height = h + 'px';
            }
        }
    };
</script>

<template>
    <embed type="application/pdf" :id="canvasId" :src="fileUrl + '#page=' + pageNumber" v-show="show">
</template>